[DEFAULT]
dim = 3
# seed = 0 - no seed
train = True
add_noise = False
svm_path = ..\TrainedSVM\30_Noise_3D_PDB_566.pkl
template_file_path = .\ChimeraUtils\Templates\

[train]
criteria = [5, 5, 5]
number_of_tomograms = 5

[evaluate]
criteria = [5, 6, 6]
number_of_tomograms = 5
metrics_input_file = ..\SVM_Metrics_Results\30_Noise_3D_PDB_566.pkl
metrics_output_file = ..\SVM_Metrics_Results\30_Noise_3D_PDB_566.pkl
