[DEFAULT]
dim = 3
# seed = 0 - no seed
train = True
add_noise = True
svm_path = ..\TrainedSVM\5_Noise_3D_PDB_555.pkl
template_file_path = .\Templates\
angle_res = 60

[train]
criteria = [5, 5, 5]
number_of_tomograms = 1
# generate_templates = True
#templates_type = GEOMETRIC_3D
templates_type = PDBS_3D

[evaluate]
criteria = [5, 5, 5]
number_of_tomograms = 1
#metrics_input_file = ..\SVM_Metrics_Results\1_Noise_3D_PDB_555.pkl
metrics_output_file = ..\SVM_Metrics_Results\1_Noise_3D_PDB_555.pkl
