[DEFAULT]
dim = 3
# seed = 0 - no seed
train = False
add_noise = True
svm_path = ..\TrainedSVM\30_Noise_3D_PDB_566.pkl
template_file_path = ..\Chimera\Templates\
generate_tempaltes = False

[train]
criteria = [5, 5, 5]
number_of_tomograms = 5

[evaluate]
criteria = [5, 5, 5]
number_of_tomograms = 1
# metrics_input_file = ..\SVM_Metrics_Results\30_Noise_3D_PDB_555.pkl
metrics_output_file = ..\SVM_Metrics_Results\30_Noise_3D_PDB_555_test_junk.pkl
