[DEFAULT]
angle_res = 15

dim = 2
# seed = 0 - no seed
train = True
add_noise = True
# change this
svm_path = ..\TrainedSVM\test_2d_nonoise.pkl

[train]
criteria = [2, 2, 4, 4]
number_of_tomograms = 50

[evaluate]
criteria = [2, 3, 4, 2]
number_of_tomograms = 50
#metrics_output_file = ..\SVM_Metrics_Results\100_Noise_2D_2342.pkl
