[DEFAULT]
dim = 2
# seed = 0 - no seed
train = True
add_noise = False
# change this
svm_path = ..\TrainedSVM\30_Noise_3D_PDB_566.pkl

[train]
criteria = [2, 2, 4, 4]
number_of_tomograms = 5

[evaluate]
criteria = [2, 3, 4, 2]
number_of_tomograms = 5
metrics_output_file = ..\SVM_Metrics_Results\100_Noise_2D_2342.pkl
