[DEFAULT]
dim = 2
# seed = 0 - no seed
train = False
add_noise = True
# change this
svm_path = ..\TrainedSVM\30_Noise_2D.pkl
angle_res = 15

[train]
criteria = [2, 2, 4, 4]
number_of_tomograms = 30

[evaluate]
criteria = [2, 3, 4, 2]
number_of_tomograms = 100
metrics_output_file = ..\SVM_Metrics_Results\100_Noise_2D_2342.pkl
